body {
    background-color: #b2e0e0;
    color: #757575;
    font-family: 'Consolas', Arial, Helvetica, sans-serif;
    margin: 0;
    text-align: center;
}
h1 {
    font-size: 80px;
}
.main {
    margin-top: 100px;
    display: flex;
    justify-content:space-evenly;
    flex-wrap: wrap;
    flex-direction: row;
    background: cover;
}

a {
    font-size: 50px;
    text-decoration: none;
    padding: 20px;
    margin: 20px;
}
a:hover {
    background-color:  #757575;
    border-radius: 20px;
}

.info-for-mouse-position {
    position: absolute;
    top: 10px;
    right: 10px;
    color: rgb(0, 0, 0);
    padding: 25px 50px;
    font-size: 30px;
  }