body {
    background-color: #b2e0e0;
    color: #757575;
    font-family: 'Consolas', Arial, Helvetica, sans-serif;
    margin: 0;
}

.todo-container {
    background: #fff;
    width: 900px;
    margin: auto;
    border-radius: 2px;
    margin-top: 100px;
}

.todo-container h1 {
    padding: 0 1rem;
    font-size: 50px;
    color: white;
    background-color: #f1e489;
    text-align: center;
}

.clear-all {
    width: 100px;
    height: 30px;
    margin: 20px;
    margin-left: 45%;
    cursor: pointer;
    border-radius: 5px;
    border: none;
}
.clear-all:hover {
    background-color:  #f1e489;
    border-radius: 5px;
}

#todo-form {
    display: flex;
    background-color: #FAFAFA;
    border-top: 1px solid rgba(0, 0, 0, .1);
    padding: 10px;
}

.add-input {
    flex: 1;
    outline: none;
    transition: all .2s;
    border-radius: 0.5px solid black;
}
.add-input:hover {
    background-color: #f1e58936;
}
.add-button:hover {
    background-color:  #f1e489;
}

.add-button {
    margin-left: 10px;
    cursor: pointer;
    border-radius: 5px;
    border: none
}
.todo-list li {
    height: 40px;
}
.todo-list button {
    height: 30px;
    border: none;
    border-radius: 5px;
    margin-right: 10px;
    float: right;
    cursor: pointer;
    color:  #c2bcbc;
}

.todo-list button:hover {
    background-color:  #f1e489;
    color:  #535252;
    border: 10px;
}

.todo-list .completed {
    text-decoration: line-through;
    color:  #b2e0e0
}

.todo-list .edit {
    display: none;
}



