body {
    background-color:  #b2e0e0;
    margin:auto;
    width: 1200px;
    text-align: center;
}

.sign-in {
    border: 1px solid rgb(0, 0, 0);
    background-color: rgba(112, 159, 165, 0.233);
    border-radius: 5px;
    color: rgb(68, 160, 184);
    padding: 20px;
    margin-top: 150px;
}

.input-email, .input-phone {
    width: 300px;
    margin: 10px;
    font-size: 20px;
    border-radius: 5px;
    text-align: center;
}

.invalid-email, .invalid-phone-number {
    display: none;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color:red;
    margin-top: 0;
}

.modal {
    display: none;
    position: fixed;
    left: 40%;
    width: 400px;
    height: 200px;
    margin-top: -200px;
    background-color: rgb(250, 250, 250);
    border: 1px solid black;
    border-radius: 10px;
}