body {
    background-color:  #b2e0e0;
    color: #757575;
    margin:auto;
    width: 1200px;
    text-align: center;
}
button {
    width: 200px;
    height: 50px;
    margin-top: 50px;
    background-color:   #0d9292;
    border: none;
}
p {
    font-size: 50px;
}

.color {
     background-color: yellow;
}